/* CSS Document */

.menulink {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #ffffff;
	background-color: #993333;
	border-top-style: ridge;
	border-right-style: inset;
	border-bottom-style: solid;
	border-left-style: outset;
	white-space: nowrap;
	margin: 0px;
	padding: 5px;
	height: 14px;
	border-top-color: #FFFFFF;
	border-right-color: #666666;
	border-bottom-color: #333333;
	border-left-color: #666666;
	border-top-width: 4px;
	border-right-width: 4px;
	border-bottom-width: 2px;
	border-left-width: 4px;



}

A.menulink:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #ffffff;
	background-color: #FF9999;
	border-top-style: ridge;
	border-right-style: inset;
	border-bottom-style: solid;
	border-left-style: outset;
	white-space: nowrap;
	margin: 0px;
	padding: 5px;
	height: 14px;
	border-top-color: #FFFFFF;
	border-right-color: #666666;
	border-bottom-color: #333333;
	border-left-color: #666666;
	border-top-width: 4px;
	border-right-width: 4px;
	border-bottom-width: 2px;
	border-left-width: 4px;
	
}

.menulink2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #ffffff;
	background-color: #993333;
	border-top-style: ridge;
	border-right-style: inset;
	border-bottom-style: solid;
	border-left-style: outset;
	white-space: nowrap;
	margin: 0px;
	padding: 5px;
	height: 8px;
	border-top-color: #FFFFFF;
	border-right-color: #666666;
	border-bottom-color: #333333;
	border-left-color: #666666;
	border-top-width: 2px;
	border-right-width: 2px;
	border-bottom-width: 1px;
	border-left-width: 2px;



}

A.menulink2:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #ffffff;
	background-color: #FF9999;
	border-top-style: ridge;
	border-right-style: inset;
	border-bottom-style: solid;
	border-left-style: outset;
	white-space: nowrap;
	margin: 0px;
	padding: 5px;
	height: 8px;
	border-top-color: #FFFFFF;
	border-right-color: #666666;
	border-bottom-color: #333333;
	border-left-color: #666666;
	border-top-width: 2px;
	border-right-width: 2px;
	border-bottom-width: 1px;
	border-left-width: 2px;
	
}

.submenu {
	FONT-SIZE: 11px; COLOR: #003366; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}

A.submenu:hover {
	FONT-SIZE: 11px; COLOR: #0099CC; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}



.dkblue12 {
	FONT-SIZE: 12px; COLOR: #042d56; FONT-FAMILY: Arial, Helvetica, sans-serif
}

.black12 {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif
}

.white14 {
	FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif
}

.grey14 {
	FONT-SIZE: 12px; COLOR: #999999; FONT-FAMILY: Arial, Helvetica, sans-serif
}

.black10 {
	FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif
}

.header14 {
	FONT-SIZE: 14px; COLOR: #042d56; FONT-FAMILY: Arial, Helvetica, sans-serif
}
	
.blue12 {
	FONT-SIZE: 12px; COLOR: #042d56; FONT-FAMILY: Arial, Helvetica, sans-serif
}

.loginlink {
	FONT-SIZE: 12px; COLOR: #FE9B00; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}

A.loginlink:hover {
	FONT-SIZE: 12px; COLOR: #FFFFCC; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}

.body12link {
	FONT-SIZE: 12px; COLOR: #800303; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}

A.body12link:hover {
	FONT-SIZE: 12px; COLOR: #1773BA; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}

.bodylink {
	FONT-SIZE: 12px; COLOR: #993333; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}

A.bodylink:hover {
	FONT-SIZE: 12px; COLOR: #FF9999; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}

.tinylink {
	FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}

A.tinylink:hover {
	FONT-SIZE: 10px; COLOR: #1773BA; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}

.toplink {
	FONT-SIZE: 11px; COLOR: #666666; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}

A.toplink:hover {
	FONT-SIZE: 11px; COLOR: #999999; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}