/* CSS Document */

.biglink {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #ffffff;
	background-color: #3D587D;
	border-top-style: ridge;
	border-right-style: inset;
	border-bottom-style: solid;
	border-left-style: outset;
	white-space: nowrap;
	margin: 0px;
	padding: 10px;
	height: 24px;
	border-top-color: #FFFFFF;
	border-right-color: #333333;
	border-bottom-color: #666666;
	border-left-color: #333333;
	border-top-width: 4px;
	border-right-width: 4px;
	border-bottom-width: 2px;
	border-left-width: 4px; 
	width:200px;
	text-align:center;


}

A.biglink:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #ffffff;
	background-color: #577DB1;
	border-top-style: ridge;
	border-right-style: inset;
	border-bottom-style: solid;
	border-left-style: outset;
	white-space: nowrap;
	margin: 0px;
	padding: 10px;
	height: 24px;
	border-top-color: #FFFFFF;
	border-right-color: #333333;
	border-bottom-color: #666666;
	border-left-color: #333333;
	border-top-width: 4px;
	border-right-width: 4px;
	border-bottom-width: 2px;
	border-left-width: 4px;
	width:200px;
	text-align:center;
	
}

.submenu {
	FONT-SIZE: 11px; COLOR: #003366; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}

A.submenu:hover {
	FONT-SIZE: 11px; COLOR: #0099CC; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}



.dkblue12 {
	FONT-SIZE: 12px; COLOR: #042d56; FONT-FAMILY: Arial, Helvetica, sans-serif
}


.dkblue14 {
	FONT-SIZE: 14px; COLOR: #042d56; FONT-FAMILY: Arial, Helvetica, sans-serif
}

.white14 {
	FONT-SIZE: 14px; COLOR: #FFFFFF; FONT-FAMILY: Arial, Helvetica, sans-serif
}

.grey14 {
	FONT-SIZE: 14px; COLOR: #999999; FONT-FAMILY: Arial, Helvetica, sans-serif
}

.black14 {
	FONT-SIZE: 14px; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif
}

.black12 {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif
}

.black10 {
	FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif
}

.header16 {
	FONT-SIZE: 14px; COLOR: #042d56; FONT-FAMILY: Arial, Helvetica, sans-serif
}
	
.blue12 {
	FONT-SIZE: 12px; COLOR: #042d56; FONT-FAMILY: Arial, Helvetica, sans-serif
}

.loginlink {
	FONT-SIZE: 12px; COLOR: #FE9B00; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}

A.loginlink:hover {
	FONT-SIZE: 12px; COLOR: #FFFFCC; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}

.body12link {
	FONT-SIZE: 12px; COLOR: #800303; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}

A.body12link:hover {
	FONT-SIZE: 12px; COLOR: #1773BA; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}

.bodylink {
	FONT-SIZE: 14px; COLOR: #369; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}

A.bodylink:hover {
	FONT-SIZE: 14px; COLOR: #F4917E; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}

.searchlink {
	FONT-SIZE: 14px; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}

A.searchlink:hover {
	FONT-SIZE: 14px; COLOR: #CC3338; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
} 

.tinylink2 {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}

A.tinylink2:hover {
	FONT-SIZE: 12px; COLOR: #CC3338; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}

.tinylink {
	FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}

A.tinylink:hover {
	FONT-SIZE: 10px; COLOR: #F4917E; background-color: FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}

.toplink {
	FONT-SIZE: 11px; COLOR: #666666; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}

A.toplink:hover {
	FONT-SIZE: 11px; COLOR: #999999; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}

.leftmenu {
	FONT-SIZE: 12px; COLOR: #4F5864; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}

A.leftmenu:hover {
	FONT-SIZE: 12px; COLOR: #628DC7; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}

.topmenu {
	FONT-SIZE: 12px; COLOR: #4F5864; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}

A.topmenu:hover {
	FONT-SIZE: 12px; COLOR: #628DC7; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}

.header {
	FONT-SIZE: 12pt; 
	COLOR: #042d56; 
	font-weight:bold;
	FONT-FAMILY: Arial, Helvetica, sans-serif; 
	background-color:#7DA6DD; 
	text-align:center; 
}

.header_small {
	FONT-SIZE: 14px; 
	COLOR: #042d56; 
	background-color:#d8e4ee; 
	FONT-FAMILY: Arial, Helvetica, sans-serif; 
	text-align:center; 
}

.submit {
	FONT-SIZE: 12pt; 
	COLOR: #042d56; 
	FONT-FAMILY: Arial, Helvetica, sans-serif; 
	background-color:#7DA6DD; 
	text-align:center; 
	border-bottom: solid #666 1px; 	 
}
	
.form_instruct {
	background-color:#ddf1fe;
	color: #042d56;
	font-size:16px; 
	font-weight:bold;
	font-family: Arial, Helvetica, sans-serif; 
	text-align:right; 
	vertical-align:top; 
}


.form_instruct_left {
	background-color:#ddf1fe;
	color: #042d56;
	font-size:16px; 
	font-weight:bold;
	font-family: Arial, Helvetica, sans-serif; 
	text-align:left; 
	vertical-align:top; 
}


.choice_instruct {
	background-color:#ddf1fe;
	color: #042d56;
	font-size:16px; 
	font-weight:bold;
	font-family: Arial, Helvetica, sans-serif; 
	text-align:right; 
	vertical-align:top; 
}


.choice_text {
	background-color:#FFFFFF;
	color: #042d56;
	font-size:16px;
	font-family: Arial, Helvetica, sans-serif; 
	text-align:left; 
	vertical-align:middle;
}

.choice_short_desc {
	background-color:#FFFFFF;
	color: #042d56;
	font-size:18px;
	font-family: Arial, Helvetica, sans-serif; 
	text-align:left; 
	vertical-align:middle;
}


.form_input {
	background-color:#DCE4F0;
	color: #042d56;
	font-family: Arial, Helvetica, sans-serif; 
	text-align:left; 
	vertical-align:middle;
}

.column_header {
	background-color:#DCE4F0;
	color: #042d56;
	font-family: Arial, Helvetica, sans-serif; 
	text-align:left; 
	vertical-align:middle;
}

.alert_text {
	background-color:#edf9fe;
	color: #042d56;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif; 
	text-align:center;
	vertical-align:middle;
	padding:5px;
	border-bottom: solid #666 1px;
	border-top: solid #666 1px;
}
	
.stars {
	FONT-SIZE: 12px; color:#0F0; FONT-FAMILY: Arial, Helvetica, sans-serif;
}

.red_stars {
	FONT-SIZE: 12px; COLOR: #F00; FONT-FAMILY: Arial, Helvetica, sans-serif;
}

.body_text {
	FONT-SIZE: 12px; COLOR: #042d56; FONT-FAMILY: Arial, Helvetica, sans-serif
}

.small_text {
	FONT-SIZE: 10px; COLOR: #042d56; FONT-FAMILY: Arial, Helvetica, sans-serif
}

.basic_td {
	background-color:#FFFFFF;
	color: #042d56;
	font-family: Arial, Helvetica, sans-serif; 
	text-align:left; 
	vertical-align:middle;
}

/* Spacing Classes */
.nospace { margin:0; padding:0; } 
.small-spacer { font-size: 2px; } 
.med-spacer { font-size: 7px; } 

.bigButton {
  width: 30px; height: 30px;
}
	